# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/Debug/AcDbMgd.dll
bin/Debug/AcTcMgd.dll
bin/Debug/AcCoreMgd.dll
bin/Debug/AcMgd.dll
bin/Debug/AdWindows.dll
bin/Debug/AcCui.dll
bin/Debug/AutoCAD.ProfileViewer.pdb
bin/Debug/AcWindows.dll
bin/Debug/AcDx.dll
bin/Debug/PresentationCore.dll
bin/Release/AcCoreMgd.dll
bin/Release/AcCui.dll
bin/Release/AcTcMgd.dll
bin/Release/AdWindows.dll
bin/Release/AcMgd.dll
bin/Release/AcWindows.dll
bin/Release/AcDbMgd.dll
bin/Release/acad.err
bin/Release/AcDx.dll
